@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans.ttf)
}

@font-face {
  font-family: 'Material Icons';
  src: url(/icons/MaterialIcons.ttf)
}

* {
  font-family: NotoSans;
}

body {
  background: black;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;
}

h1, h2, h3, p {
  margin: 0 0 1em;
  white-space: pre-line;
}

h1:hover, h2:hover, h3:hover {
  cursor: pointer;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

h3, p {
  font-size: 0.7em;
  margin: 10px;
}

.divider {
  margin: 2em 0 0 0;
}

.card-label {
  justify-content: center;
  padding: 0;
  margin: 1em 0;
  max-width: fit-content;
  border-radius: 100px;
  
}

.label-text {
  padding: 5px;
  font-size: 0.5em;
}

#body-content {
  flex: 1 0 auto;
  padding-top: 1em;
}

.input-field {
  padding-left: 1em;
}

ul.dropdown-content.select-dropdown li span {
  color: white; /* no need for !important :) */
  background: black;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.card-panel {
  border-radius: 10px;
}

.logo {
  width: 5em;
}

.full {
  width: 100%;
}

.small-pic {
  margin-left: 0.5em;
}
.small-pic:hover {
  cursor: pointer;
}