<li><a href = "#home" class = 'waves-effect white-text'>Home</a></li>
<li><a href = "#discover" class = 'waves-effect white-text'>Discover</a></li>
<li><a href = "#about" class = 'waves-effect white-text'>About</a></li>
<li><a href = "#contact" class = 'waves-effect white-text'>Contact</a></li>
