<div class = 'card-panel grey darken-4 white-text'>
  <div class = 'flex-row'>
    <h1 class = 'red-text'>LOLCloud</h1>
    <img src = "/icons/icon-512.png" alt = "logo" class = 'logo circle responsive-img'>
  </div>
  <div class = 'divider'></div>
  <p>LOLCloud wish to be the world's largest story and jokes platform, LOLCloud lets people discover and enjoy the largest selection of story from the most funny story in the world. All of our written using Bahasa Indonesia.</p>
  <div class = 'flex-row'>
    <p class = 'bold'>Founder: </p>
    <p>William Andrea</p>
  </div>
  <div class = 'flex-row'>
    <p class = 'bold'>Founded: </p>
    <p>June 2020</p>
  </div>
  <div class = 'flex-row'>
    <p class = 'bold'>Employees: </p>
    <p>1</p>
  </div>
  <div class = 'flex-row'>
    <p class = 'bold'>CEO: </p>
    <p>William Andrea (June 2020 - now)</p>
  </div>
  <div class = 'flex-row'>
    <p class = 'bold'>Headquarters: </p>
    <p>Medan, Indonesia</p>
  </div>
  <div class = 'flex-row'>
    <p class = 'bold'>Profiles: </p>
    <div class = 'flex-row'>
      <img src = "../images/ig.png" alt = "logo" class = 'small-pic circle responsive-img'>
      <img src = "../images/tw.png" alt = "logo" class = 'small-pic circle responsive-img'>
      <img src = "../images/tb.png" alt = "logo" class = 'small-pic circle responsive-img'>
      <img src = "../images/fb.png" alt = "logo" class = 'small-pic circle responsive-img'>
      <img src = "../images/yt.png" alt = "logo" class = 'small-pic circle responsive-img'>

    </div>
  </div>
</div>