<div class = 'container'>
  <div class = 'card-panel grey darken-4 white-text'>
    <h2>Contact Us</h2>
    <div class = 'row'>
      <div class = 'input-field col s12 '>
        <input id = 'full-name' type = "text" class = 'validate white-text'>
        <label for = "full-name">Full Name</label>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'input-field col s12 '>
        <input id = 'email' type = "email" class = 'validate white-text'>
        <label for = "email">Email</label>
      </div>
    </div>
    <div class = 'row'>
      <div class = 'input-field col s12 '>
        <textarea id = 'message' class = 'materialize-textarea white-text'></textarea>
        <label for = "message">Message</label>
      </div>
    </div>
    <a class = 'waves-effect red white-text btn full disabled'>Send</a>
  </div>
</div>