<h2>Select Category</h2>
<div class="input-field col s12 white">
  <select id = 'select-category'>
    <option value = "" disabled selected>Choose your category..</option>
    <option value = "1">Umum</option>
    <option value = "2">Ekonomi dan Bisnis</option>
    <option value = "3">Politik</option>
    <option value = "4">Komputer dan Teknologi</option>
    <option value = "5">Binatang</option>
    <option value = "6">Bahasa Daerah</option>
  </select>
</div>
{{#each this}}
  <div class = 'card-panel black white-text'>
    <h2 class = 'red-text'>{{title}}</h2>
    <div class = 'card-label red'>
      <h3 class = 'white-text label-text'>#{{category}}</h3>
    </div>
    <p>{{content}}</p>
    <div class = 'divider'></div>
  </div>
{{/each}}


