{{#each this}}
  <div class = 'card-panel black white-text'>
    <h2 class = 'red-text'>{{title}}</h2>
    <div class = 'card-label red'>
      <h3 class = 'white-text label-text'>#{{category}}</h3>
    </div>
    <p>{{content}}</p>
    <div class = 'divider'></div>
  </div>
{{/each}}

